
// Exports
//------------------------------------------------------

@include exports("common") {
  body,
  input,
  textarea,
  select,
  button { /* 字体优化 */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern"; /* 字距调整 标准连写 */
  }
  .font-sans-serif { /* 非衬线字体 */
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
  }
  .font-serif {/* 衬线字体 */
    font-family: Georgia, "Times New Roman", Times, SimSun, "FontAwesome", serif;
  }
  .font-kai {/* 数字英文衬线字体 中文开题*/
    font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, "FontAwesome", serif;
  }
  .font-monospace {/* 等宽字体 */
    font-family: Monaco, Menlo, Consolas, "Courier New", "FontAwesome", monospace;
  }
  /* 辅助类 */
  .no-padding{
    padding: 0 !important;
  }
  .no-margin{
    margin: 0 !important;
  }
  .height-g{
    height: 100%;
  }
  .width-g{
    width: 100%;
  }
  .line-g{
    line-height: 45px !important;
  }
  .line-m{
    line-height: 40px !important;
  }
  .line-l{
    line-height: 35px !important;
  }
  .jsk-text-wrap{
    word-wrap: break-word;
　　word-break: normal;
  }
  .jsk-text-truncate { /* 文字截断 */
    word-wrap: normal; /* for IE */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .font-size-xxl{ /* 字体大小 */
    font-size: 42px;
  }
  .font-size-xl{
    font-size: 32px;
  }
  .font-size-lg{
    font-size: 24px;
  }
  .font-size-md{
    font-size: 18px;
  }
  .font-size-default{
    font-size: 16px;
  }
  .font-size-sm{
    font-size: 14px;
  }
  .font-size-xs{
    font-size: 12px;
  }
  .p-common{ /* 通用p */
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 7px;
  }
  .top-radius-g{
    @include radius($type: border-radius, $value: 6px 6px 0 0);
  }
  .top-radius-x{
    @include radius($type: border-radius, $value: 4px 4px 0 0);
  }
   .radius-g{
    @include radius($type: border-radius, $value: 6px);
  }
  .radius-x{
    @include radius($type: border-radius, $value: 4px);
  }
  .left-radius-g{
    @include radius($type: border-radius, $value: 6px 0 0 6px);
  }
  .left-radius-x{
    @include radius($type: border-radius, $value: 4px 0 0 4px);
  }
  .right-radius-g{
    @include radius($type: border-radius, $value: 0 6px 6px 0);
  }
  .right-radius-x{
    @include radius($type: border-radius, $value: 4px 0 0 4px);
  }
  .jsk-block {
    display: block !important;
  }
  .jsk-inline {
    display: inline !important;
  }
  .jsk-inline-block {
    display: inline-block !important;
  }
  .jsk-hide{
    display: none !important;
    visibility: hidden !important;
  }
  .jsk-margin-horizontal{
    margin: 0 -15px;
  }
  /* 等分 */
  [class*="jsk-avg-"] {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
    & > li {
      display: block;
      height: auto;
      float: left;
    }
  }
  @media only screen {
    @for $i from 1 through 12 {
      .jsk-avg-xs-#{$i} > li {
        width: 100% / #{$i};
        &:nth-of-type(n) {
            clear: none;
        }
        &:nth-of-type(#{$i}n + 1) {
            clear: both;
        }
      }
    }
  }
  @media only screen and (min-width:1200px) {
    @for $i from 1 through 12 {
      .jsk-avg-lg-#{$i} > li {
        width: 100% / #{$i};
        &:nth-of-type(n) {
            clear: none;
        }
        &:nth-of-type(#{$i}n + 1) {
            clear: both;
        }
      }
    }
  }
  @media only screen and (min-width:992px) {
    @for $i from 1 through 12 {
      .jsk-avg-md-#{$i} > li {
        width: 100% / #{$i};
        &:nth-of-type(n) {
            clear: none;
        }
        &:nth-of-type(#{$i}n + 1) {
            clear: both;
        }
      }
    }
  }
  @media only screen and (min-width:768px) {
    @for $i from 1 through 12 {
      .jsk-avg-sm-#{$i} > li {
        width: 100% / #{$i};
        &:nth-of-type(n) {
            clear: none;
        }
        &:nth-of-type(#{$i}n + 1) {
            clear: both;
        }
      }
    }
  }
}