// Variables
//------------------------------------------------------
$selecter-primary:                     $mushroom-dark !default;

$selecter-border-color:                $darkgray-dark !default;
$selecter-background-color:            $white !default;
$selecter-disabled-color:              $darkgray-dark !default;
$selecter-disabled-background-color:   $lightgray-dark !default;
$selecter-radius-value:                4px !default;
$selecter-arrow-width:                 20px !default;

$selecter-group-color:                 $darkgray-dark !default;
$selecter-group-background-color:      $lightgray-light !default;

$selecter-item-border-color:		   $lightgray-dark !default;
$selecter-item-hover:		           $lightgray-dark !default;
$selecter-item-selected:		       $mushroom-dark !default;
$selecter-item-selected-border-color:  $mushroom-light !default;

$color-red-error: rgb(185, 74, 72);
$color-grey-arrow: rgba(204, 204, 204, 0.2);

$width-default: 100%; // 3 960px-grid columns

$zindex-select-dropdown: 1035; // must be lower than a modal background (1040) but higher than the fixed navbar (1030)
// Exports
//------------------------------------------------------

@include exports("selecter") {
	.selecter{
		.chosen-container-single, .chosen-container-single.chosen-with-drop {
			.chosen-single{
				border: none;
				span{
					color: #9b9b9b;
				}
			}
		}
		.chosen-container {
			font-size: 18px;
  			padding: 0 16px;
			.chosen-drop{
				top: 115%;
				border: none;
			}
		}
	}
}
